* {
    margin: 0;
    padding: 0;
}

canvas {
    cursor:none;
}

#PauseGame h1{
    color: black;
    margin-left:40%
}

#game-over {
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(images/backgrounds/GameEnd.png);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

#back-to-menu {
    position: fixed;
    left: 0px;
}

img#GameOverImg {
    margin-top: 5%;
}

#First{
    margin-top: 10%;
}
#Menu{
    width:100%;
    height:100%;
    text-align: center;
    background-image: url(images/backgrounds/BG_Menu.png);
}
#PauseGame{
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: url(images/backgrounds/ForPause.png);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}
#info{
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: url(images/backgrounds/BG_Menu.png);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}
    #info #text {
        background-color:white;
       
    }

label {
    width: 136px;
    height: 50px;
    display: block;
    position: relative;
}
input[type="checkbox"] + span {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: url(OnOffSwitch.png) no-repeat;
    cursor: pointer;
}
input[type="checkbox"]:checked + span {
    background-position: 0 -50px;
}