* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS";
}

#canvas {
    /*cursor:none;*/
    width: 100%;
    height: 100%;
}

#PauseGame h1{
    color: black;
    margin-left:40%
}

#game-over {
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(images/backgrounds/GameEnd.png) no-repeat;
    background-size: cover;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

#pick-character{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
    height:100%;
    text-align: center;
    display: none;
}

#pick-character ul {
    margin-top: 25vh;
    margin-bottom: 25vh;
}

#pick-character li {
    display: inline-block;
}

#pick-character li img{
    margin: 50px;
    width: 150px;
    height: auto;
    -webkit-transition: width 3 ease-in-out 1;
    -ms-transition: width 3 ease-in-out 1;
    -o-transition: width 3 ease-in-out 1;
    transition: width 3 ease-in-out 1;r  
}

#pick-character li img:hover{
    width: 250px;
}

#back-to-menu {
    position: fixed;
    left: 0px;
}

img#GameOverImg {
    margin-top: 5%;
}

#buttons-panel {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
#Menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
    height:100%;
    text-align: center;
    background: url(images/backgrounds/BG_Menu.png) no-repeat;
    background-size: cover;
}
.menu{
    margin-top: 20vh;
    margin-bottom: 20vh;
}
.button{

    display: inline;
    padding-bottom: 1vh;
    font-size: 10vh;

    color: #0000ff;
    text-shadow: 0px 0px 5px white;
    border-bottom: 1px solid #0000ff;
    box-shadow: 0px 1px white;
}

#Menu p{
    font-size: 5vh;
    color: #0000ff;
    text-shadow: 0px 0px 5px white;
}
#PauseGame{
    margin: auto;
    width: 100%;
    height: 100%;
    background: url(images/backgrounds/ForPause.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}
#info{
    margin: auto;
    width: 100%;
    height: 100%;
    background: url(images/backgrounds/InfoBackground.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}
#info img {
    margin-top: 2%;
    margin-left: calc(50% - 10px);
    margin-right: 10px;
    width: 50%;
    height: auto;
}
       
#info p{
    margin-left: 600px;
    margin-right: 10px;
    font-size: 24px;
    margin-top: 2%;
    font-weight: bold;
    background: transparent;
    color: #0e49f0;
    text-align: right;
    }

label {
    width: 136px;
    height: 50px;
    display: block;
    position: relative;
}
input[type="checkbox"] + span {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: url(OnOffSwitch.png);
    cursor: pointer;
}

input[type="checkbox"]:checked + span {
    background-position: 0 -50px;
}


#achivment-list{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: url(images/backgrounds/Achiv.png) no-repeat;
    background-size: cover;
    display: none;    
}

#achivment-list ul{
    margin-top: calc(50vh - 50px);
    margin-right: 14vw;
    text-align: center;
}

#achivment-list ul li {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #ffd540;
    box-shadow: 0px 15px #af9000, 0px 16px #000;
    width: 250px;
    height: 250px;
}

.achivment{
    width: 200px;
    height: 200px;
    margin-top: 30px;
} 

.empty-list {
    display: none;
    height: 100px; 
    text-align: center;
    margin-top: calc(50vh - 15px);
    font-size: 30px;
    font-family: "Comic Sans MS";
} 
.achivment-list {
    display: none;
} 

#control-block {
    display: none;
}

#swipe {
    position: fixed;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    z-index: 999;
}

#shot {
    position: fixed;
    top:0;
    right:0;
    width: 50%;
    height: 100%;
    z-index: 999;
}
